In [ ]:
#Home_lesson_6_Task_1

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.datasets import load_boston

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
from sklearn.metrics import mean_squared_error

In [7]:
from sklearn.metrics import mean_squared_error

In [30]:
from sklearn.ensemble import RandomForestRegressor

In [8]:
boston = load_boston()

In [9]:
data = boston["data"]

In [10]:
feature_names = boston["feature_names"]

In [11]:
X = pd.DataFrame(data, columns = feature_names)

In [12]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [13]:
target = boston["target"]

In [14]:
y = pd.DataFrame(target, columns = ["price"])

In [15]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [17]:
lr = LinearRegression().fit(X_train, y_train)

In [26]:
y_pred_lr = lr.predict(X_test)
check_test_lr = pd.DataFrame({"y_test": y_test["price"], "y_pred_lr": y_pred_lr.flatten()})
check_test_lr.head()

     y_test  y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [27]:
mean_squared_error_lr = mean_squared_error(check_test_lr["y_pred_lr"], check_test_lr["y_test"])

In [28]:
mean_squared_error_lr

21.51744423117739

In [ ]:
#Home_lesson_6_Task_2

In [37]:
rfg = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42).fit(X_train, y_train.values[:, 0])

In [40]:
y_pred_rfg = rfg.predict(X_test)
check_test_rfg = pd.DataFrame({"y_test": y_test["price"], "y_pred_rfg": y_pred_rfg.flatten()})
check_test_rfg.head()

     y_test  y_pred_rfg
173    23.6   22.806412
274    32.4   31.131464
491    13.6   16.339125
72     22.8   23.810726
452    16.1   17.139521

In [41]:
mean_squared_error_rfg = mean_squared_error(check_test_rfg["y_pred_rfg"], check_test_rfg["y_test"])

In [42]:
mean_squared_error_rfg

9.334548946165196

In [ ]:
#Второй алгоритм показывает в 2,3 раза более точные результаты